.cus-quill .ql-toolbar.ql-snow {
  border-top: none;
  border-left: none;
  border-right: none;
}

.cus-quill .ql-container.ql-snow {
  border: none;
}

.cus-quill-hide-toolbar .ql-toolbar {
  display: none;
}
/* react-quill */
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value="1"]::before,
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value="1"]::before {
  content: "見出し 1";
}
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value="2"]::before,
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value="2"]::before {
  content: "見出し 2";
}
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value="3"]::before,
.quill-jp
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value="3"]::before {
  content: "見出し 3";
}
.quill-jp .ql-snow .ql-picker.ql-header .ql-picker-label::before,
.quill-jp .ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "パラグラフ";
}
